:root {
    --xs: 16px;
    --sm: 20px;
    --md: 30px;
    --lg: 35px;
} 

html {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--xs);  
} 

/*header*/
.header {
    border-bottom: 2px solid #cccccc; 
}

.header-nav-caja {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;  
    align-items: center;
}

.navbar-left {
    display: flex;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    list-style: none;
}

.header-nav-link {
    padding: 8px;
    text-align: none;
    text-decoration: none; 
    color: black;  
}

.header-nav-link:hover{
    border: 1px solid #cccccc;
    border-radius: 5px;
}

/*main header*/
.main-header {
    position: relative;
    display: flex;
    gap: 25px; 
    margin: 10px;
}

.main-header-left { 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0px; 
}

.main-header-left-gb {
    position: absolute;
    display:inline-flex; 
    align-items: center;
    justify-content: center; 
    top: 20px;
    height: 36px;   
    background-color: #43B864;
    color: white;
    float:left;
    margin: 10px 20px 0 30px;
    padding: 0 5px;
}

.main-header-left-telefono {
    width: 400px;
    height: 400px; 
}

.main-header-oferta {
    color:red;
    font-weight: bold;
}

.main-header-compra {
    font-size: var(--md);
}

.main-header-valor {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: var(--sm);   
}

.main-header-btn-comprar {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 4px;   
}

.main-header-container {
    display: flex;
    justify-content: space-between;   
    gap: 12px;
    padding: 0; 
}

.main-header-box { 
    display: flex;  
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;   
    gap: 12px;
}

.main-header-icono {
    width: 30px;
    height: 30px; 
}


/*main-mid*/
.main-mid-accesorios {
    font-size: var(--md);
    font-weight: bold;
    align-items: flex-start;
}

.main-mid {   
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0px;  
    padding: 0;
}

.main-mid-container2 { 
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0px; 
    gap: 50px; 
}

.main-mid-margen-container2 {
    margin: 0;
    flex-grow: 1;
    flex-basis: 100%;
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 18px;
}

.main-mid-icono2 {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 200px;
    height: 200px; 
}

.main-mid-titulo-icono2 {
    font-size: var(--sm);
    color: black; 
    text-decoration: none;    
}

.main-mid-texto-icono2 {
    display: inline-block;
    justify-content: center;  
}

.main-mid-margen-container2-ofer {
    display: inline-block;
    text-decoration: none; 
    padding: 6px;
    background-color: red;
    color: white;
    border-radius: 8px; 
}

.main-mid-margen-container2-nuevo {
    display: inline-block;
    text-decoration: none; 
    padding: 6px;
    background-color: blue;
    color: white;
    border-radius: 8px;
}

/*main-footer*/
.main-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 0;  
    padding: 20px 40px;
    background-color: #EBF5FB;
}

.main-footer-texto {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.titulo-sorteo {
  font-size: var(--lg);  
  font-weight: bold;
}

.main-footer-datos {
    display: flex;
    flex-direction: column;  
    padding: 20px;
}

.main-footer-datos-input {
    height: 2px;
    border-radius: 6px;
    border: 2px solid #cccccc;
    background-color: white;   
    margin-bottom: 22px;
    padding: 15px;   
} 

.enviar {
    align-items: center;
    justify-content: center;  
    background-color: #0596F5 ;
    border: 2px solid #031EA4 ;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: var(--sm);  
    width: 80px;
    height: 35px;
}

/*footer*/
.footer {
    border-top: 1px solid #cccccc;
}

.©-agoodshop {
    font-weight: bold;
    display: flex;
    justify-content: center;
}